.list__content {
    max-width: 1400px;
    margin: 0 auto;
}

.list__inner {
    width: 1000px;
    margin: 60px auto;
    letter-spacing: 2px;
    font-size: 15px;
}

.list__title {
    margin: 80px 0;
    display: flex;
    align-items: flex-end;
    gap: 25px;
}

.list__title::before {
    content: "";
    width: 7px;
    height: 45px;
    background-color: #000;
}

.list__table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
}

.list__row {
    color: #666666;
    border-bottom: solid 2px #eeeeee;
}

.link__row--header {
    border-bottom: solid 4px #eeeeee;
}

.list__header {
    padding: 10px 0;
    text-align: center;
}

.list__data {
    padding: 7px 25px;
    text-align: center;
    font-weight: bold;
}

.list__data--reason {
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list__table-link {
    text-decoration: none;
    color: #000;
}